<div class="pensamento {{pensamento.modelo}} ff-roboto-mono pensamento-p">
    <img src="../../../../assets/images/{{pensamento.modelo}}.png" alt="aspas coloridas">
    <p class="conteudo">{{ pensamento.conteudo }}</p>
    <p class="autoria">{{ pensamento.autoria }}</p>
    <div class="acoes">
        <button class="botao-editar">
            <img src="../../../../assets/images/icone-editar.png" alt="botão editar">
        </button>

        <button class="botao-excluir ">
            <img src="../../../../assets/images/icone-excluir .png" alt="botão excluir ">
        </button>
    </div>
</div>